extends index

mixin color(color, title, desc)
  div(class="colors__element block_two_column")
    div(class="colors__block" style=`background: ${color}`)
    div(class="colors__text")
      .colors__title= title
      .colors__desc= desc

mixin type(size, tag, desc)
  div(class=`block_two_column type__element type__element${size}`)
    .type__title= tag
    div= desc


block links
  link(rel="stylesheet", href="../../blocks/main/__colors/main__colors.css")
  link(rel="stylesheet", href="../../blocks/main/__colors_type/main__colors_type.css")
  link(rel="stylesheet", href="../../blocks/main/_theme/block_two_column.css")
  link(rel="stylesheet", href="../../blocks/main/__type/main__type.css")

block title
  | Colors and Type

block content
  div.main
    
      
      .main__colors_type
    

        div(class="main__colors colors")
          +color("#1F2041", "Dark Shade 100%", "#1F2041")
          +color("rgba(31, 32, 65, 0.75)", "Dark Shade 75%", "#1F2041")
          +color("rgba(31, 32, 65, 0.5)", "Dark Shade 50%", "#1F2041")
          +color("rgba(31, 32, 65, 0.25)", "Dark Shade 25%", "#1F2041")
          +color("rgba(31, 32, 65, 0.05)", "Dark Shade 5%", "#1F2041")
          +color("#BC9CFF", "Purple", "#BC9CFF")
          +color("#6FCF97", "Green", "#6FCF97")

        div(class="main__type type")
          +type('_size_h1', 'H1', 'This one is the sub-section or widget title')
          +type('_size_h2', 'H2', 'Next one is the item title inside widgets')
          +type('_size_h3', 'H3', 'This is a label or CTA text')
          +type('_size_body', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')